body{
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}


#header{
  background-color: red;
  text-align: center;
  height: 60px;
  width:100%;
  float:left;
}

#main{
  background-color: green;
  height:600px;
  width:100%;
  float: left;
}

#footer{
  background-color: blue;
  height:60px;
  width:100%;
  float:left;
}

h1, #left, #pfoot{
  color:white;
}
