body{
  background-color: green;
}

#c1{
  height:200px;
  width:200px;
  float:left;
  background-color: blue;
  margin: 0px 0px 0px 50px;
}

#c2{
  height: 200px;
  width: 200px;
  float:right;
  background-color: red;
  margin: 0px 50px 0px 0px;
}

#c3{
  height: 200px;
  width: 200px;
  clear: both;
  background-color: yellow;
  margin:auto;
}
