body{
  margin: 0px 0px 0px 0px;
  background-color: green;
}

#header{
  background-color: red;
  height:60px;
  width:60%;
  float:left;
  margin: 0px 20% 0px 20%;
  text-align: center;
}

#nav1{
  background-color:pink;
  height:60px;
  width:20%;
  margin:0px 0px 0px 20%;
  float:left;
  font-weight: bold;
}

#nav2{
  background-color: orange;
  height:60px;
  width:40%;
  margin:0px 20% 0px 0px;
  float:left;
  font-weight: bold;
}

#content{
  height:500px;
  background-color: blue;
  width:60%;
  margin: 0px 20% 0px 20%;
  float:left;
  font-weight: bold;
}

#footer{
  height:50px;
  background-color:yellow;
  width:60%;
  margin: 0px 20% 0px 20%;
  float: left;
  font-weight: bold;
}
